body {
  background-color: white;
  padding: 20px;
  padding-top: 140px;
}

.colorheader {
  color: rgb(2, 117, 216);
}

.indexcol > .colorheader {
  padding-top: 20px;
}

.textblock {
  background-color: #eeeef1;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.tooltype {
  width: 100px;
}